{
  "openrouter": {
    "temperature": 0.2,
    "error_fixing_temperature": 0.1,
    "max_tokens": 1024,
    "cost_limit": 0.00020,
    "fallback": [
      "Claude-3.5-Sonnet",
      "deepseekr1",
      "o3-mini"
    ],
    "input_output_token_ratio": "1:5"
  },
  "validation": {
    "pre_exec": "eslint --fix",
    "post_exec": "jest --bail"
  }
}